.pre-loader {
  background-color: whitesmoke;
  width: 102%;
  height: 100%;
  z-index: 9999;
  position: fixed;
  transition: 2s; }

.is-center-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  animation: shake 4s linear;
  transform-origin: center center; }
  .is-center-img img {
    width: 20%; }

.hide-it {
  display: none; }

@keyframes shake {
  0% {
    transform: rotate(0deg); }
  71% {
    transform: rotate(0deg); }
  72% {
    transform: rotate(-7deg); }
  73% {
    transform: rotate(0deg); }
  74% {
    transform: rotate(7deg); }
  75% {
    transform: rotate(7deg); }
  76% {
    transform: rotate(0deg); }
  77% {
    transform: rotate(7deg); }
  78% {
    transform: rotate(0deg); }
  79% {
    transform: rotate(0deg); }
  81% {
    transform: rotate(-7deg); }
  83% {
    transform: rotate(0deg); }
  84% {
    transform: rotate(7deg); }
  87% {
    transform: rotate(-7deg); }
  89% {
    transform: rotate(0deg); }
  91% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(0deg); } }
