.weather_main img {
  width: 40%; }

.weather_box {
  font-size: .6em;
  display: inline;
  text-align: center; }
  .weather_box img {
    width: 20%; }

.weather_temperature {
  font-size: 3.7rem; }
  .weather_temperature sup {
    font-size: .7em; }
