.columns {
  margin-top: 0 !important; }

.container {
  margin-top: 5px !important;
  border-radius: 5px;
  color: #1e1e24;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif !important;
  z-index: 0;
  overflow: hidden; }

h1 {
  font-family: 'Montserrat', sans-serif !important;
  color: #1e1e24; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center; }

header {
  text-align: center;
  z-index: -1; }

input[type=search] {
  display: inline-block;
  color: #808080;
  padding: 7px;
  width: 250px;
  box-sizing: border-box;
  background-color: #fff;
  border: none;
  font-size: .5em;
  margin-top: 5px;
  outline: none; }

button {
  font: 18px Helvetica, Arial, sans-serif;
  border: none;
  background-color: #1aaf75;
  color: #fff;
  padding: 7px 40px;
  outline: none;
  transition: all 0.2s ease-in-out; }
  button:hover {
    color: darkgreen; }
