@import '../../node_modules/bulma/bulma.sass';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
.columns
	margin-top:0 !important
.container
	margin-top: 5px !important
	border-radius: 5px
	color:#1E1e24

body 
	margin: 0
	padding: 0
	font-family: sans-serif
	text-align: center

header
	text-align: center

.container
	background-color:#bef7de








